.git
vendor
node_modules

.env
.env.*
!.env.example
auth.json

bootstrap/cache/*.php
storage

public/hot
public/storage
public/build

database/*.sqlite*

tests
.phpunit.cache
.phpunit.result.cache

*.log